@model Shop.Mvc.Models.Product.ProductViewModel
@{
    ViewData["Title"] = Model.Title + "- ایمن فروش";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/js/jquery.zoom.js"></script>

<div class="container">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">ایمن فروش</a></li>
                <li class="breadcrumb-item active" aria-current="page">@Model.Title</li>
            </ol>
        </nav>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="detail">
            <div class="col-md-4 col-xs-12">
                <div class="detail__img">
                    <span class='zoom' id='zoom'>
                        <img src="~/Files/Images/@(Model.PrimaryImage)" height="200" width="230"
                             alt="@Model.Title - ایمن فروش" class="img-responsive" />
                    </span>
                </div>
                <div class="detail__img-detail">
                    <div class="row">
                        @foreach (var item in Model.MoreImages)
                        {
                            <div class="col-xs-3">
                                <a data-fancybox="gallery" href="~/Files/Images/@(item)">
                                    <img style="height:70px" src="~/Files/Images/@(item)" alt="@Model.Title - ایمن فروش"
                                         class="img-responsive img-thumbnail" />
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-xs-12">
                <h1 class="detail__title">@Model.Title</h1>
                @* <div>
                    <span class="badge">15 %</span>
                    <del>4,284,000</del>
                    </div> *@
                <div class="detail__desc">
                    دسته بندی : دوربین های مدار بسته
                </div>
                <div class="detail__desc">
                    <span>تعداد باقی مانده از این محصول : </span>
                    <span class="text-danger">@Model.Count عدد</span>
                </div>
                <div class="detail__price price">
                    <span data-role="seperator">@Model.Price</span>
                    <span style="margin-right:10px">تومان</span>
                </div>
                <div>
                    @if (Model.Count != 0)
                    {
                        <a v-on:click="addCart(@Model.Id)" id="addcart@(Model.Id)" type="submit"
                           class="ladda-button btn btn-danger" data-style="zoom-in">
                            <span class="ladda-label">افزودن به سبد خرید</span>
                        </a>
                    }
                    else
                    {
                        <p style="width:150px" class="text-danger count-0">ناموجود</p>
                    }

                    <div class="detail__desc">
                        کلمات کلیدی
                    </div>
                    <div class="detail__desc" style="border:0">
                        <h3 class="keywords">فروش سیستم های امنیتی و نظارتی</h3>
                        <h3 class="keywords">دوربین های مداربسته با سیم و بیسیم</h3>
                        <h3 class="keywords">دزدگیر اماکن</h3>
                        <h3 class="keywords">ردیاب های شخصی و خودرو</h3>
                        <h3 class="keywords">ایمن فروش</h3>
                        <h3 class="keywords">@Model.Title</h3>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="detail-tab">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#desc">بررسی اجمالی</a></li>
                <li><a data-toggle="tab" href="#comments">نظرات کاربران</a></li>
                <li><a data-toggle="tab" href="#addcomment">افزودن کاربر</a></li>
            </ul>

            <div class="tab-content">
                <div id="desc" class="tab-pane fade in active">
                    @Html.Raw(Model.Description)
                </div>
                <div id="comments" class="tab-pane fade">
                    <div class="detail-tap__comment">
                        <img src="~/img/user.png" />
                        <div>
                            <p class="text-primary">مهدی حسنی</p>
                            <p>خیلی محصول خوبی بود واقعا راضی هستیم ممنون از سایت فروشگاهی خوبتون //</p>
                        </div>
                    </div>
                    <div class="detail-tap__comment">
                        <img src="~/img/user.png" />
                        <div>
                            <p class="text-primary">مهدی حسنی</p>
                            <p>خیلی محصول خوبی بود واقعا راضی هستیم ممنون از سایت فروشگاهی خوبتون //</p>
                        </div>
                    </div>
                    <div class="detail-tap__comment">
                        <img src="~/img/user.png" />
                        <div>
                            <p class="text-primary">مهدی حسنی</p>
                            <p>خیلی محصول خوبی بود واقعا راضی هستیم ممنون از سایت فروشگاهی خوبتون //</p>
                        </div>
                    </div>
                    <div class="detail-tap__comment">
                        <img src="~/img/user.png" />
                        <div>
                            <p class="text-primary">مهدی حسنی</p>
                            <p>خیلی محصول خوبی بود واقعا راضی هستیم ممنون از سایت فروشگاهی خوبتون //</p>
                        </div>
                    </div>
                </div>
                <div id="addcomment" class="tab-pane fade">
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <form method="post" asp-action="AddComment">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="ProductId" value="@Model.Id" />
                                    <div class="form-group">
                                        <label>لطفا نظر خود را وارد کنید </label>
                                        <textarea name="Comment" class="form-control" rows="5" placeholder="نظر خود را وارد کنید"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="ladda-button btn btn-danger btn-block" data-style="zoom-in">
                                            <span class="ladda-label">ثبت نظر</span>
                                        </button>                                      
                                    </div>
                                </form>
                            }
                            else
                            {
                                <div class="alert alert-danger">
                                    <p>برای ثبت نظر باید وارد سایت شوید</p>
                                    <p><a href="#">اگر قبلا ثبت نام کرده اید از طریق این لینک وارد شوید</a></p>
                                    <p><a href="#">اگر قبلا ثبت نام نکرده اید از طریق این لینک وارد شوید</a></p>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#zoom').zoom();
    });
</script>
