@model List<Shop.Mvc.Models.Representations.RepresentationViewModel>
@{
    ViewData["Title"] = "نمایندگی ها - ایمن فروش";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">ایمن فروش</a></li>
                <li class="breadcrumb-item active" aria-current="page"> نمایندگی ها - ایمن فروش</li>
            </ol>
        </nav>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="cart">
            <div class="cart__title">لیست نمایندگی های ایمن فروش</div>
            @foreach (var item in Model)
            {
        <div class="main__box">
            <div class="main__box__item">
                <div class="text-success">@item.Title</div>
                <div>مدیریت : @item.FullName</div>
                <div>شماره تماس : @item.PhoneNumber</div>
            </div>
            <div class="main__box__item">
                <div>آدرس : @item.Address</div>
            </div>
            <div class="main__box__item">
                <div>
                    @if (!string.IsNullOrEmpty(item.InstagramAccount))
                    {
                        <a href="@item.InstagramAccount" target="_blank">
                            <img style="width:25px" alt="ایمن فروش (شرکت آرشانوین)" class="footer__info__share" src="~/img/insta.png" />
                        </a>
                    }

                    @if (!string.IsNullOrEmpty(item.WhatsAppNumber))
                    {
                        <a href="https://api.whatsapp.com/send?phone=@(item.WhatsAppNumber)" target="_blank">
                            <img style="width:25px" alt="ایمن فروش (شرکت آرشانوین)" class="footer__info__share" src="~/img/watsapp.png" />
                        </a>
                    }

                    <span> : شبکه های اجتماعی </span>
                </div>
            </div>
        </div>
            }
            
        </div>
    </div>
</div>
