@using Shop.Mvc.Models
@using Shop.Mvc.Models.Product
@using Shop.Mvc.Models.Pagination
@using DNTPersianUtils.Core
@using Shop.Utility.Extensions

@model List<Shop.Mvc.Models.Product.ProductVoteViewModel>
@{
    ViewData["Title"] = " نظرات در انتظار تایید - پنل مدیریتی ایمن فروش";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">پنل مدیریتی</a></li>
        <li class="breadcrumb-item active" aria-current="page">نظرات در انتظار تایید</li>
    </ol>
</nav>

<div class="panel panel-primary">
    <div class="panel-heading">نظرات در انتظار تایید</div>
    <div class="panel-body">
        @if (Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <div class="main__box">
                    <div class="main__box__item" style="display: block;">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <img src="~/Files/Images/@item.Product.PrimaryImage" class="img-responsive img-thumbnail"
                                    style="max-width:200px" />
                            </div>
                            <div class="col-md-9 col-sm-6 col-xs-12">
                                <p>عنوان محصول : @item.Product.Title</p>
                                <p>نام کاربر نظر دهنده : @item.User.FullName</p>
                                <p>متن پیغام : @item.Comment </p>
                                <p>
                                    <a asp-action="CancelComment" asp-route-id="@(item.Id)" data-role="confirm"
                                        class="btn btn-danger ladda-button" data-style="zoom-in">
                                        <span class="ladda-label">رد </span>
                                    </a>
                                    <a asp-action="AcceptComment" asp-route-id="@(item.Id)" data-role="confirm"
                                        class="btn btn-success ladda-button" data-style="zoom-in">
                                        <span class="ladda-label">تایید </span>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="main__box">
                <div style="margin-bottom: 0px;" class="alert alert-danger text-center">نظر در انتظار تاییدی وجود ندارد
                </div>
            </div>
        }
    </div>
</div>