@model Shop.Mvc.Models.Product.CreateProductViewModel
@{
    ViewData["Title"] = "ایجاد محصول جدید - پنل مدیریتی ایمن فروش";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var categoryId = "";
    if (Model != null) { categoryId = Model.CategoryId.ToString(); }
}
<!-- item template -->
<script type="text/x-template" id="item-template">
  <li>
    <div
      class="tree-item">
      <span style="cursor: pointer;position: relative;top:4px" v-on:click="toggle" v-if="isFolder">{{open ? '🔼' : '🔽'}}</span>
      <span>{{model.title}}</span>

      <a v-if="!isFolder" v-on:click="addItem(model)" style="margin-right:15px;cursor: pointer;" class="text-success">انتخاب</a>
    </div>
    <ul v-show="open" v-if="isFolder">
      <item
        class="item"
        v-for="model in model.children"
        :model="model">
      </item>
    </ul>
  </li>
</script>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">پنل مدیریتی</a></li>
        <li class="breadcrumb-item"><a href="/Admin/Product/Index">نمایش محصولات</a></li>
        <li class="breadcrumb-item active" aria-current="page">ایجاد محصول جدید</li>
    </ol>
</nav>

<div class="panel panel-primary" id="app">
    <div class="panel-heading">ایجاد محصول جدید</div>
    <div class="panel-body">
        <div class="alert alert-warning">
            <p>عکس برای محصول نباید بیش از 500 کیلو بایت باشد</p>
        </div>
        <div class="row">
            <form id="form" method="post" enctype="multipart/form-data">
                <div class="col-md-12 col-xs-12">
                    <div class="form-group">
                        @Html.Partial("_ServiceResult")
                    </div>
                </div>

                @Html.AntiForgeryToken()

                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        <label class="required">عنوان محصول را وارد کنید </label>
                        <input asp-for="Title" required type="text" placeholder="عنوان محصول" class="form-control">
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        <label class="required" style="display:block">
                            قیمت محصول را وارد کنید <span id="price-seperator" style="float: left;"></span>
                        </label>
                        <input asp-for="Price" onkeyup="numberWithCommas()" required type="number"
                               placeholder="قیمت محصول" class="form-control">
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        <label class="required">تعداد را وارد کنید </label>
                        <input asp-for="Count" required type="number" placeholder="تعداد محصول" class="form-control">
                    </div>
                </div>
                <hr style="clear: both;" />
                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        <label>گارانتی را وارد کنید </label>
                        <input asp-for="Garanty" required type="text" placeholder="گارانتی" class="form-control">
                    </div>
                </div>
                <hr style="clear: both;" />
                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        <label>آیا شگفت انگیز است ؟</label>
                        @Html.CheckBoxFor(c => c.IsAmazing)
                    </div>
                </div>
                <hr style="clear: both;" />
                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        <label>میزان تخفیف را وارد کنید </label>
                        <input asp-for="Discount" type="number" placeholder="میزان تخفیف" class="form-control">
                    </div>
                </div>
                <hr style="clear: both;" />
                <div class="col-md-12 col-xs-12">
                    <div class="form-group">
                        <label class="required">عکس محصول را وارد کنید </label>
                        <input type="file" required name="@Html.NameFor(c=>c.ImageFile)" />
                    </div>
                </div>
                <hr style="clear: both;" />
                <div class="col-md-12 col-xs-12">
                    <div class="form-group">
                        <label class="required">دسته بندی محصول رو انتخاب کنید</label>
                        <input type="text" required style="margin-right:10px" disabled v-model="title" />
                        <ul class="tree-admin">
                            <item class="item" v-for="item in treeData" :model="item">
                            </item>
                        </ul>
                    </div>
                </div>
                <hr style="clear: both;" />
                <div class="col-md-12 col-xs-12">
                    <div class="form-group">
                        <label class="required">توضیحات محصول را وارد کنید </label>
                        <textarea asp-for="Description" class="editor" placeholder="توضیحات محصول"
                                  class="form-control"></textarea>
                    </div>
                </div>

                <hr style="clear: both;" />
                <div class="col-md-12 col-xs-12">
                    <div class="form-group">
                        <label>مشخصات محصول را وارد کنید </label>
                        <textarea asp-for="Attributes" class="editor" placeholder="مشخصات محصول"></textarea>
                    </div>
                </div>

                <hr style="clear: both;" />
                <div class="col-md-12 col-xs-12">
                    <div class="form-group">
                        <label>شرایط گارانتی محصول را وارد کنید </label>
                        <textarea asp-for="GarantyCondition" class="editor" placeholder="مشخصات محصول"></textarea>
                    </div>
                </div>

                <hr style="clear: both;" />
                <div class="col-xs-12">
                    <button type="submit" class="ladda-button btn btn-primary" data-style="zoom-in">
                        <span class="ladda-label">ثبت اطلاعات</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    var app = new Vue({
        el: '#app',
        data: {
            treeData: [],
            title: '',
            id: '@(categoryId)'
        },
        methods: {
            loadTree: function () {
                var me = this;
                $.ajax({
                    url: '/Admin/CategoryManagement/Get',
                    success: function (result) {
                        me.treeData = result;
                        if (me.id) {
                            me.title = findItemNested(me.treeData, Number(me.id), "children").title;
                        }
                    }
                })
            }
        },
        created: function () {
            this.loadTree();
        }
    })

    Vue.component('item', {
        template: '#item-template',
        props: {
            model: Object
        },
        data: function () {
            return {
                open: false,
            }
        },
        computed: {
            isFolder: function () {
                return this.model.children &&
                    this.model.children.length
            }
        },
        methods: {
            toggle: function () {
                if (this.isFolder) {
                    this.open = !this.open
                }
            },
            addItem: function (model) {
                app.id = model.id;
                app.title = model.title;
            }
        }
    })

    $(function () {
        $('form').on('submit', function (e) {
            e.preventDefault();
            var l = Ladda.create(document.querySelector('.ladda-button'));
            if (app.id !== '') {
                l.start();
                $("<input />").attr("type", "hidden")
                    .attr("name", "CategoryId")
                    .attr("value", app.id)
                    .appendTo("#form");
                $('form').unbind('submit').submit();
            }
            else {
                l.stop();
                return toastr.error('دسته بندی را انتخاب نکرده اید');
            }
        })

        initSample();
        if (CKEDITOR.config) {
            CKEDITOR.config.height = 400;
            CKEDITOR.config.resize_enabled = true;
            CKEDITOR.config.contentsLangDirection = 'rtl';
        }

        $(function () {
            $('.editor').each(function (e) {
                CKEDITOR.replace(this.id, { customConfig: '/jblog/ckeditor/config_Large.js' });
            });
        })
    })
</script>

<script>
    function numberWithCommas() {
        var x = document.getElementById('Price').value;
        var pattern = /(-?\d+)(\d{3})/;
        while (pattern.test(x))
            x = x.replace(pattern, "$1,$2");
        return document.getElementById('price-seperator').innerText = x + ' تومان ';
    }

    function findItemNested(arr, itemId, nestingKey) {
        return arr.reduce((a, item) => {
            if (a) return a;
            if (item.id === itemId) return item;
            if (item[nestingKey]) return findItemNested(item[nestingKey], itemId, nestingKey)
        }, null)
    }
</script>
