@using Shop.Mvc.Models
@using Shop.Mvc.Models.Product
@using Shop.Mvc.Models.Pagination
@using DNTPersianUtils.Core
@using Shop.Utility.Extensions

@model SearchModel<ProductSearchViewModel, PaginationViewModel<ProductViewModel>>
@{
    ViewData["Title"] = " نمایش محصولات - پنل مدیریتی ایمن فروش";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">پنل مدیریتی</a></li>
        <li class="breadcrumb-item active" aria-current="page">نمایش محصولات</li>
    </ol>
</nav>

<div class="panel panel-primary">
    <div class="panel-heading">نمایش محصولات</div>
    <div class="panel-body">
        <fieldset>
            <legend>جستجوی محصولات</legend>
            <form>
                <div class="row flex-center" style="align-items: flex-end;">
                    <div class="col-md-3 col-xs-12">
                        <div class="control-group">
                            <label>جستجو بر اساس عنوان </label>
                            <input name="Title" value="@Model?.Search?.Title" type="text" class="form-control"
                                placeholder="عنوان محصول" />
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-12">
                        <div class="control-group">
                            <button class="ladda-button btn btn-primary btn-block" data-style="zoom-in">
                                <span class="ladda-label">جستجو</span>
                            </button>
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-12">
                        <div class="control-group">
                            <a href="/Admin/Product/Index" class="btn btn-danger btn-block ladda-button"
                                data-style="zoom-in">
                                <span class="ladda-label">حذف فیلترها</span>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </fieldset>

        <hr />

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>عکس محصول</th>
                        <th>عنوان</th>
                        <th>قیمت</th>
                        <th>تعداد</th>
                        <th>عملیات</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Data.Count > 0)
                    {
                        foreach (var item in Model.Data.Data)
                        {
                            <tr>
                                <td>
                                    <img src="~/Files/Images/@item.PrimaryImage" class="img-responsive img-thumbnail"
                                        style="max-width:60px" />
                                </td>
                                <td>@item.Title.ToPersianNumbers()</td>
                                <td>@item.Price.ToString("#,##").ToPersianNumbers() تومان</td>
                                <td>@item.Count.ToPersianNumbers()</td>
                                <td>                                    
                                    <a asp-action="Edit" asp-route-id="@(item.Id)"
                                        class="btn btn-primary ladda-button" data-style="zoom-in">
                                        <span class="ladda-label">ویرایش</span>
                                    </a>    
                                    <a asp-action="Delete" data-role="confirm" asp-route-id="@(item.Id)"
                                        class="btn btn-danger" data-style="zoom-in">
                                        <span class="ladda-label">حذف </span>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5">محصولی یافت نشد</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @Html.Partial("~/Views/Shared/_Pagination.cshtml", Model.Data)
    </div>
</div>