@model Shop.Mvc.Models.Educations.UploadFileEducationViewModel
@{
    ViewData["Title"] = "آپلود فایل برای آموزش - پنل مدیریتی ایمن فروش";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var typeSelector = (List<Microsoft.AspNetCore.Mvc.Rendering.SelectListItem>)ViewBag.TypeSelector;
}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">پنل مدیریتی</a></li>
        <li class="breadcrumb-item"><a href="/Admin/Education/Index">نمایش آموزش های ثبت شده</a></li>
        <li class="breadcrumb-item active" aria-current="page">آپلود فایل برای آموزش</li>
    </ol>
</nav>

<div class="panel panel-primary" id="app">
    <div class="panel-heading">آپلود فایل برای آموزش</div>
    <div class="panel-body">
        
        <div class="row">
            <form id="form" method="post" enctype="multipart/form-data">
                <input type="hidden" name="EducationId" value="@ViewBag.EducationId"/>
                <div class="col-md-12 col-xs-12">
                    <div class="form-group">
                        @Html.Partial("_ServiceResult")
                    </div>
                </div>

                @Html.AntiForgeryToken()

                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        <label>عنوان  را وارد کنید </label>
                        <input asp-for="Title" type="text" placeholder="عنوان محصول" class="form-control">
                    </div>
                </div>

                <div class="col-md-12 col-xs-12">
                    <div class="form-group">
                        <label class="required">نوع فایل  را انتخاب کنید </label>
                        <select asp-for="Type" required class="form-control" asp-items="@typeSelector"></select>
                    </div>
                </div>

                <div class="col-md-12 col-xs-12">
                    <div class="form-group">
                        <label class="required">فایل را انتخاب کنید </label>
                        <input type="file" required name="@Html.NameFor(c=>c.File)" />
                    </div>
                </div>

                <hr style="clear: both;" />
                <div class="col-xs-12">
                    <button type="submit" class="ladda-button btn btn-primary" data-style="zoom-in">
                        <span class="ladda-label">ثبت اطلاعات</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
