@using Shop.Utility.Extensions
@using DNTPersianUtils.Core
@{
    var actionName = @ViewContext.ActionDescriptor.RouteValues.FirstOrDefault(c => c.Key == "action").Value;
    var controllerName = @ViewContext.ActionDescriptor.RouteValues.FirstOrDefault(c => c.Key == "controller").Value;
}



<!DOCTYPE html>

<html>

<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="~/img/icon.png">
    <meta name="description"
          content="ایمن فروش :: فروش سیستم های امنیتی و نظارتی:دوربین های مداربسته با سیم و بیسیم - دزدگیر اماکن - ردیاب های شخصی و خودرو">
    <meta name="keywords" content="دزدگیر خانه , دزدگیر مغازه , دزدگیر اماکن , دوربین مداربسته , دوربین مداربسته بیسیم , دوربین بیبی کم , دوربین لامپی ,
        دوربین پانوراما , دوربین ۳۶۰ , رایاکالا , ردیاب شخصی , ردیاب خودرو , جی پی اس , GPS,
        شنود , دوربین مخفی , سنسور , دی وی آر , DVR,NVR,دوربین تحت شبکه , دیجیکالا">

    @if (actionName == "Detail" && controllerName == "Product")
    {
        <meta property="og:type" content="product">
        <meta property="og:title" content="@(ViewBag.ProductTitle) - ایمن فروش (شرکت آرشانوین)">
        <meta property="og:url" content="https://imenforoush.com/Product/Detail/@(ViewBag.ProductId)">
        <meta property="og:image" content="~/Files/Images/@(ViewBag.ProductImage)">
    }
    else
    {
        <meta property="og:type" content="website">
        <meta property="og:title" content="ایمن فروش(شرکت آرشانوین)">
        <meta property="og:url" content="https://imenforoush.com/">
        <meta property="og:image" content="~/img/logo.png">
    }

    <link rel="stylesheet" href="~/css/site.min.css?v=0.0.1" />
    <link rel="stylesheet" href="~/css/styles.css?v=0.0.3" />
    <link rel="stylesheet" href="~/css/styleoverride.css?v=0.0.7" />

    <script src="~/js/site.min.js?v=0.0.2"></script>

</head>

<body dir="rtl">
    <div id="app">
        <!-- menu -->
        @* <div class="loading">
                <div class="lds-roller">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
        </div> *@
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand btn btn-default" href="javascript:void(0)" data-role="category">
                        دسته بندی کالاها
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="dropdown mega-dropdown active">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">دسته بندی کالا ها <span class="caret"></span></a>				
                            <ul class="dropdown-menu mega-dropdown-menu">
                                 <category class="item" v-for="item in category" :model="item"></category>                                                                                            
                            </ul>				
                        </li>
                        <li><a asp-controller="Home" asp-action="Index">صفحه اصلی</a></li>
                        <li><a asp-controller="Home" asp-action="HelpForBuy">راهنمای خرید </a></li>
                        <li><a asp-controller="Home" asp-action="LawUs">قوانین و مقررات</a></li>
                        <li><a asp-controller="Home" asp-action="AboutUs">درباره ما</a></li>
                        <li><a asp-controller="Home" asp-action="ContactUs">تماس با ما</a></li>
                        <li><a asp-controller="Home" asp-action="Representation">نمایندگی ها</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                <a href="/user">
                                    <span class="glyphicon glyphicon-user"></span> @User.GetFullName() / پنل کاربری
                                </a>
                            </li>
                            if (User.IsInRole("Admin"))
                            {
                                <li>
                                    <a href="/admin">
                                        <span class="glyphicon glyphicon-cog"></span> پنل ادمین
                                    </a>
                                </li>
                            }
                            <li>
                                <a asp-action="Logout" asp-controller="Account">
                                    <span class="glyphicon glyphicon-log-out"></span> خروج
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/Account/Register">
                                    <span class="glyphicon glyphicon-user"></span> ثبت نام
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Login","Account")">
                                    <span class="glyphicon glyphicon-log-in"></span> ورود
                                </a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>

        <!-- header -->
        <header class="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="row flex-center">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <a href="/">
                                    <img alt="ایمن فروش (شرکت آرشانوین)" src="~/img/logo.png" class="img-responsive" />
                                </a>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-hide">
                                <form action="/Product/Search">
                                    <div class="input-group">
                                        <input type="text" class="form-control"
                                               placeholder="جستجو در محصولات ایمن فروش " name="Title" autocomplete="off">
                                        <div class="input-group-btn">
                                            <button class="btn btn-danger" type="submit">
                                                <i class="glyphicon glyphicon-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                        <a href="/Cart" class="btn btn-primary header__btn-cart">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i> سبد خرید
                            <span class="badge">{{countCart}}</span>
                        </a>
                    </div>
                </div>
            </div>
        </header>

        <!-- sidebar -->
        <div id="sidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" data-role="category-close">&times;</a>
            <div class="sidenav__content">
                <p class="sidenav__content__title"> ایمن فروش (شرکت آرشانوین)</p>
                <div class="sidenav__content__img">
                    <a href="/">
                        <img alt="ایمن فروش (شرکت آرشانوین)" src="~/img/logo.png" class="img-responsive" />
                    </a>
                </div>
                @* <a class="btn btn-danger btn-block">
                    پیشنهادات شگفت انگیز
                    <span class=" badge">100</span>
                    </a> *@
                <ul class="tree-admin" style="margin-top:15px">
                    <item class="item" v-for="item in category" :model="item">
                    </item>
                </ul>
            </div>
        </div>

        <div class="main">
            @RenderBody()
        </div>

        <div style="padding: 30px 0;text-align:right;direction:rtl">
            <div class="container">
                <div class="row">
                        <div style="box-shadow: 1px 1px 10px #ccc;border: 1px solid #ccc;border-radius: 10px;padding: 10px;margin: 10px 0;">                   
                    <div class="magh__item__title" style=" color: #000;font-weight: 600;font-size: 20px;margin: 10px 0;
                    cursor: pointer;" data-toggle="collapse" data-target="#magh1">
                        معرفی گروه صنعتی سایلکس
                        <i style="float: left;" class="fa fa-chevron-down" aria-hidden="true"></i>
                    </div>
                    <div class="magh__item__desc collapse" id="magh1" style="text-align: justify;font-size: 18px;">
                    <p>
                        صنایع الکترونیک سایلکس با بیش از ۲۰ سال سابقه درعرصه تولید سیستم‌های حفاظتی اولین محصول خود دزدگیر اتومبیل را به بازار عرضه نموده و با گذشت زمان و کسب تجربه در مسیر تولید و مسائل فنی به تنوع محصولات خود افزوده و در حال حاضر با هدف تحقق شعار «تولید ملی؛ کیفیت جهانی» به یکی از مدرن‌ترین تولیدکنندگان سیستم‌های حفاظتی و امنیتی اماکن و ریموت کنترل‌های درب‌های اتوماتیک در داخل کشور تبدیل گشته است.
این مجموعه با گسترش بخش تحقیقاتی خود در جهت دسترسی به بالاترین کیفیت فنی، موفق شده است اولین تولید‌کننده ریموت کنترل‌های Code Hopping در کشور باشد. تولیدات صنایع الکترونیک سایلکس در چهار گروه ذیل عرضه می‌گردند:
                    </p>
                    <p>سیستم‌های حفاظتی و امنیتی اماکن‌</p>
                    <p>مدار فرمان های کرکره</p>
                    <p>کیـت ریموت‌هـای صنـعتی</p>
                    <p>انـواع ریموت</p>
                </div>
                </div>
                <div style="box-shadow: 1px 1px 10px #ccc;border: 1px solid #ccc;border-radius: 10px;padding: 10px;margin: 10px 0;">                   
                    <div class="magh__item__title" style=" color: #000;font-weight: 600;font-size: 20px;margin: 10px 0;
                    cursor: pointer;" data-toggle="collapse" data-target="#magh2">
                        فروش و نصب انواع دوربین مداربسته و سیستم های نظارت تصویری
                        <i style="float: left;" class="fa fa-chevron-down" aria-hidden="true"></i>
                    </div>
                    <div class="magh__item__desc collapse" id="magh2" style="text-align: justify;font-size: 18px;">
                    <p>قصد ما از نوشتن این متن توضیح علت خرید دوربین مدار بسته و نصب آن در منزل یا محل کار شما است . همیشه افراد به دنبال یافتن چرایی یک موضوع هستند و در خرید و بر طرف کردن نیاز هایشان این سوال پیش می آید که چرا این کالا را بخریم ؟ 
حال می خواهیم بدانیم چرا خرید دوربین مداربسته برای ما ضروری است ؟ برای خرید دوربین مدار بسته باید اطلاعاتی در رابطه با مشخصات آن داشته باشید مثلا برند ، قیمت دوربین مدار بسته و فروشگاه مطمئنی که از آن خریداری کنید ، اطلاعاتی است که باید بدست آورید . هدف از نصب دوربین مدار بسته ، داشتن امنیت ، آرامش و نظارت بر عواملی است که در طول روز اتفاق می افتد . هدف از خرید دوربین مدار بسته به چند اصل منتهی می شود؛ حفاظت ، حراست و ایمنی ، کنترل ترافیک ، کنترل ، مدیریت و نظارت و در نهایت آموزش و تحقیقات.</p>
                </div>
                </div>
                <div style="box-shadow: 1px 1px 10px #ccc;border: 1px solid #ccc;border-radius: 10px;padding: 10px;margin: 10px 0;">                   
                    <div class="magh__item__title" style=" color: #000;font-weight: 600;font-size: 20px;margin: 10px 0;
                    cursor: pointer;" data-toggle="collapse" data-target="#magh3">
                       دزدگیر خانه و اماکن
                        <i style="float: left;" class="fa fa-chevron-down" aria-hidden="true"></i>
                    </div>
                    <div class="magh__item__desc collapse" id="magh3" style="text-align: justify;font-size: 18px;">
                    <p>دزدگیر اماکن همانطور که از نامش پیدا است، یکی دیگر از انواع محصولات حفاظتی در ساختمان به شمار می رود. دزدگیر ها کارکرد بسیار ساده و در عین حال مهمی دارند. استفاده بجا و مناسب از دزد گیر اماکن می تواند تاثیر مهمی در امنیت خانه و محل کار داشته باشد. این دزد گیر ها از سنسور های خاص خود بهره می برند. به این شکل که سنسور ها با تشخیص شرایط خطر، آژیر را به صدا در می آورند.</p>
                    <P>اصلی ترین این سنسور ها سنسور تشخیص حرکت است. تشخیص دادن حرکت توسط این سنسور ها با استفاده از حسگر مادون قرمز انجام می گیرد. این حسگر را می توانید در هر جای ساختمان به کار روند. می توان آن ها را در جاهایی مانند ورودی ها، راهرو ها بالکن و غیره نصب کرد. از معروف ترین برند های دزدگیر اماکن می توان به کلاسیک، بتا و پارادوکس هستند. تعداد بسیار زیادی محصول در بخش های مختلف وجود دارد. می توانید با توجه به شرایط خود یکی را انتخاب کنید.</P>
                </div>
                </div>
                </div>
            </div>
        </div>

        @* <div id="map_09kgdf" style='width: 100%; height: 300px;border-top:2px solid #ddd;margin-top:30px'></div> *@

        <!-- footer -->
        <div class="scroll-top" data-role="scroll-top" style="margin-top:20px">
            <i class="fa fa-angle-double-up"></i> برگشت به بالا
            <i class="fa fa-angle-double-up"></i>
        </div>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer__option">
                        <div class="footer__option__item">
                            <img alt="ایمن فروش (شرکت آرشانوین)" src="~/img/freeDelivery.png" />
                            <div>ارسال رایگان</div>
                        </div>
                        <div class="footer__option__item">
                            <img alt="ایمن فروش (شرکت آرشانوین)" src="~/img/7days.png" />
                            <div>پشتیبانی و مشاوره حرفه ای</div>
                        </div>
                        <div class="footer__option__item">
                            <img alt="ایمن فروش (شرکت آرشانوین)" src="~/img/payment-type.png" />
                            <div>پرداخت در محل</div>
                        </div>
                        <div class="footer__option__item">
                            <img alt="ایمن فروش (شرکت آرشانوین)" src="~/img/original.png" />
                            <div>ضمانت اصل بودن کالا</div>
                        </div>
                    </div>
                    <div class="footer__info">
                        <div class="col-md-4">
                            <div class="footer__info__title">
                                لینک های ایمن فروش (شرکت آرشانوین)
                            </div>
                            <a class="footer__info__link" asp-controller="Home" asp-action="HelpForBuy">
                                راهنمای خرید
                            </a>
                            <a class="footer__info__link" asp-controller="Home" asp-action="LawUs">قوانین و مقررات</a>
                            <a class="footer__info__link" asp-controller="Home" asp-action="AboutUs">درباره ما</a>
                            <a class="footer__info__link" asp-controller="Home" asp-action="ContactUs">تماس با ما</a>
                            <a class="footer__info__link" asp-controller="Home" asp-action="Representation">نمایندگی ها</a>
                        </div>
                        <div class="col-md-4 text-left">
                            <div class="footer__info__title">
                                پشتیبانی
                            </div>
                            <p>
                                شماره تماس ها
                                <br />
                                @if (!string.IsNullOrEmpty(Shop.Mvc.Cache.CacheData.Info.PhoneNumber1))
                                {
                                    <span>@Shop.Mvc.Cache.CacheData.Info.PhoneNumber1.ToPersianNumbers()</span><br />
                                }
                                @if (!string.IsNullOrEmpty(Shop.Mvc.Cache.CacheData.Info.PhoneNumber2))
                                {
                                    <span>@Shop.Mvc.Cache.CacheData.Info.PhoneNumber2.ToPersianNumbers()</span><br />
                                }
                                @if (!string.IsNullOrEmpty(Shop.Mvc.Cache.CacheData.Info.PhoneNumber3))
                                {
                                    <span>@Shop.Mvc.Cache.CacheData.Info.PhoneNumber3.ToPersianNumbers()</span><br />
                                }
                                @if (!string.IsNullOrEmpty(Shop.Mvc.Cache.CacheData.Info.PhoneNumber4))
                                {
                                    <span>@Shop.Mvc.Cache.CacheData.Info.PhoneNumber4.ToPersianNumbers()</span>
                                }
                            </p>
                            <p>
                                آدرس : @Shop.Mvc.Cache.CacheData.Info.Address
                            </p>
                            <a href="@Shop.Mvc.Cache.CacheData.Info.InstagramAccount" target="_blank">
                                <img alt="ایمن فروش (شرکت آرشانوین)" class="footer__info__share" src="~/img/insta.png" />
                            </a>
                            <a href="@Shop.Mvc.Cache.CacheData.Info.TelegramChanal" target="_blank">
                                <img alt="ایمن فروش (شرکت آرشانوین)" class="footer__info__share" src="~/img/telegram.png" />
                            </a>
                            <a href="https://api.whatsapp.com/send?phone=989129633978" target="_blank">
                                <img alt="ایمن فروش (شرکت آرشانوین)" class="footer__info__share" src="~/img/watsapp.png" />
                            </a>
                        </div>
                        <div class="col-md-4 text-left">
                            <h3>ایمن فروش (شرکت آرشانوین)</h3>
                            <p>
                                فروش سیستم های امنیتی و نظارتی : دوربین های مداربسته با سیم و بیسیم , دزدگیر اماکن ,
                                ردیاب های شخصی و خودرو
                            </p>
                            <a referrerpolicy="origin" target="_blank"
                               href="https://trustseal.enamad.ir/?id=202154&amp;Code=jDHuMgNvy10rkBPNTlOo">
                                <img referrerpolicy="origin"
                                     src="https://Trustseal.eNamad.ir/logo.aspx?id=202154&amp;Code=jDHuMgNvy10rkBPNTlOo"
                                     alt="" style="cursor:pointer;border-radius: 10px;background-color: #fff;" id="jDHuMgNvy10rkBPNTlOo">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <div class="footer-bottom">
            <p>
                تمامی حقوق مادی و معنوی این سایت متعلق به شرکت <a target="_blank"
                                                                  href="http://instagram.com/arshanovin021">آرشانوین</a> می باشد
            </p>
            طراحی و توسعه توسط <a target="_blank" href="https://i-graphic.ir/">طراحی سایت ایران گرافیک</a>
        </div>
    </div>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120605683-14"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-120605683-14');
    </script>

    <script src="~/js/vue.js"></script>
    <script src="~/js/app.js?v=0.0.3"></script>
    <script type="text/x-template" id="item-template">
        <li>
            <div
                    :class="{bold: isFolder}">
                        <span style="cursor: pointer;" v-on:click="toggle" v-if="isFolder">[{{open ? '-' : '+'}}]</span>
                        <a :href="'/Category/Index?CategoryId='+model.id">{{model.title}}</a>
            </div>
            <ul v-show="open" v-if="isFolder">
                <item
                    class="item"
                    v-for="model in model.children"
                    :model="model">
                </item>
            </ul>
        </li>
    </script>
    <script type="text/x-template" id="category-template">
        <li class="col-sm-2">
            <ul>  
                <li class="dropdown-header">
                    <a style="color:#ff3546" :href="'/Category/Index?CategoryId='+model.id">{{model.title}}</a>
                </li> 
                <li v-for="item in model.children">
                    <a :href="'/Category/Index?CategoryId='+item.id">{{item.title}}</a>
                </li>                                                                               
            </ul>
        </li>       
    </script>

    @Html.Partial("_Swal.cshtml")
</body>

</html>
