@using Shop.Utility.Extensions
@using DNTPersianUtils.Core
@{
    var actionName = @ViewContext.ActionDescriptor.RouteValues.FirstOrDefault(c => c.Key == "action").Value;
    var controllerName = @ViewContext.ActionDescriptor.RouteValues.FirstOrDefault(c => c.Key == "controller").Value;
}



<!DOCTYPE html>

<html>

<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="~/img/icon.png">
    <meta name="description"
          content="ایمن فروش :: فروش سیستم های امنیتی و نظارتی:دوربین های مداربسته با سیم و بیسیم - دزدگیر اماکن - ردیاب های شخصی و خودرو">
    <meta name="keywords" content="دزدگیر خانه , دزدگیر مغازه , دزدگیر اماکن , دوربین مداربسته , دوربین مداربسته بیسیم , دوربین بیبی کم , دوربین لامپی ,
        دوربین پانوراما , دوربین ۳۶۰ , رایاکالا , ردیاب شخصی , ردیاب خودرو , جی پی اس , GPS,
        شنود , دوربین مخفی , سنسور , دی وی آر , DVR,NVR,دوربین تحت شبکه , دیجیکالا">

    @if (actionName == "Detail" && controllerName == "Product")
    {
        <meta property="og:type" content="product">
        <meta property="og:title" content="@(ViewBag.ProductTitle) - ایمن فروش (شرکت ارشانوین)">
        <meta property="og:url" content="https://imenforoush.com/Product/Detail/@(ViewBag.ProductId)">
        <meta property="og:image" content="~/Files/Images/@(ViewBag.ProductImage)">
    }
    else
    {
        <meta property="og:type" content="website">
        <meta property="og:title" content="ایمن فروش(شرکت ارشانوین)">
        <meta property="og:url" content="https://imenforoush.com/">
        <meta property="og:image" content="~/img/logo.png">
    }

    <link rel="stylesheet" href="~/css/site.min.css?v=0.0.1" />
    <link rel="stylesheet" href="~/css/styles.css?v=0.0.3" />
    <link rel="stylesheet" href="~/css/styleoverride.css?v=0.0.6" />

    <script src="~/js/site.min.js?v=0.0.2"></script>

</head>

<body dir="rtl">
    <div id="app">
        <!-- menu -->
        <div class="loading">
                <div class="lds-roller">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand btn btn-default" href="javascript:void(0)" data-role="category">
                        دسته بندی کالاها
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="dropdown mega-dropdown active">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">دسته بندی کالا ها <span class="caret"></span></a>				
                            <ul class="dropdown-menu mega-dropdown-menu">
                                 <category class="item" v-for="item in category" :model="item"></category>                                                                                            
                            </ul>				
                        </li>
                        <li><a asp-controller="Home" asp-action="Index">صفحه اصلی</a></li>
                        <li><a asp-controller="Home" asp-action="HelpForBuy">راهنمای خرید </a></li>
                        <li><a asp-controller="Home" asp-action="LawUs">قوانین و مقررات</a></li>
                        <li><a asp-controller="Home" asp-action="AboutUs">درباره ما</a></li>
                        <li><a asp-controller="Home" asp-action="ContactUs">تماس با ما</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                <a href="/user">
                                    <span class="glyphicon glyphicon-user"></span> @User.GetFullName() / پنل کاربری
                                </a>
                            </li>
                            if (User.IsInRole("Admin"))
                            {
                                <li>
                                    <a href="/admin">
                                        <span class="glyphicon glyphicon-cog"></span> پنل ادمین
                                    </a>
                                </li>
                            }
                            <li>
                                <a asp-action="Logout" asp-controller="Account">
                                    <span class="glyphicon glyphicon-log-out"></span> خروج
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/Account/Register">
                                    <span class="glyphicon glyphicon-user"></span> ثبت نام
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Login","Account")">
                                    <span class="glyphicon glyphicon-log-in"></span> ورود
                                </a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>

        <!-- header -->
        <header class="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="row flex-center">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <a href="/">
                                    <img alt="ایمن فروش (شرکت ارشانوین)" src="~/img/logo.png" class="img-responsive" />
                                </a>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-hide">
                                <form action="/Product/Search">
                                    <div class="input-group">
                                        <input type="text" class="form-control"
                                               placeholder="جستجو در محصولات ایمن فروش " name="Title" autocomplete="off">
                                        <div class="input-group-btn">
                                            <button class="btn btn-danger" type="submit">
                                                <i class="glyphicon glyphicon-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                        <a href="/Cart" class="btn btn-primary header__btn-cart">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i> سبد خرید
                            <span class="badge">{{countCart}}</span>
                        </a>
                    </div>
                </div>
            </div>
        </header>

        <!-- sidebar -->
        <div id="sidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" data-role="category-close">&times;</a>
            <div class="sidenav__content">
                <p class="sidenav__content__title"> ایمن فروش (شرکت ارشانوین)</p>
                <div class="sidenav__content__img">
                    <a href="/">
                        <img alt="ایمن فروش (شرکت ارشانوین)" src="~/img/logo.png" class="img-responsive" />
                    </a>
                </div>
                @* <a class="btn btn-danger btn-block">
                    پیشنهادات شگفت انگیز
                    <span class=" badge">100</span>
                    </a> *@
                <ul class="tree-admin" style="margin-top:15px">
                    <item class="item" v-for="item in category" :model="item">
                    </item>
                </ul>
            </div>
        </div>

        <div class="main">
            @RenderBody()
        </div>

        @* <div id="map_09kgdf" style='width: 100%; height: 300px;border-top:2px solid #ddd;margin-top:30px'></div> *@

        <!-- footer -->
        <div class="scroll-top" data-role="scroll-top" style="margin-top:20px">
            <i class="fa fa-angle-double-up"></i> برگشت به بالا
            <i class="fa fa-angle-double-up"></i>
        </div>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer__option">
                        <div class="footer__option__item">
                            <img alt="ایمن فروش (شرکت ارشانوین)" src="~/img/freeDelivery.png" />
                            <div>ارسال رایگان</div>
                        </div>
                        <div class="footer__option__item">
                            <img alt="ایمن فروش (شرکت ارشانوین)" src="~/img/7days.png" />
                            <div>پشتیبانی و مشاوره حرفه ای</div>
                        </div>
                        <div class="footer__option__item">
                            <img alt="ایمن فروش (شرکت ارشانوین)" src="~/img/payment-type.png" />
                            <div>پرداخت در محل</div>
                        </div>
                        <div class="footer__option__item">
                            <img alt="ایمن فروش (شرکت ارشانوین)" src="~/img/original.png" />
                            <div>ضمانت اصل بودن کالا</div>
                        </div>
                    </div>
                    <div class="footer__info">
                        <div class="col-md-4">
                            <div class="footer__info__title">
                                لینک های ایمن فروش (شرکت ارشانوین)
                            </div>
                            <a class="footer__info__link" asp-controller="Home" asp-action="HelpForBuy">
                                راهنمای خرید
                            </a>
                            <a class="footer__info__link" asp-controller="Home" asp-action="LawUs">قوانین و مقررات</a>
                            <a class="footer__info__link" asp-controller="Home" asp-action="AboutUs">درباره ما</a>
                            <a class="footer__info__link" asp-controller="Home" asp-action="ContactUs">تماس با ما</a>
                        </div>
                        <div class="col-md-4 text-left">
                            <div class="footer__info__title">
                                پشتیبانی
                            </div>
                            <p>
                                شماره تماس ها
                                <br />
                                @if (!string.IsNullOrEmpty(Shop.Mvc.Cache.CacheData.Info.PhoneNumber1))
                                {
                                    <span>@Shop.Mvc.Cache.CacheData.Info.PhoneNumber1.ToPersianNumbers()</span><br />
                                }
                                @if (!string.IsNullOrEmpty(Shop.Mvc.Cache.CacheData.Info.PhoneNumber2))
                                {
                                    <span>@Shop.Mvc.Cache.CacheData.Info.PhoneNumber2.ToPersianNumbers()</span><br />
                                }
                                @if (!string.IsNullOrEmpty(Shop.Mvc.Cache.CacheData.Info.PhoneNumber3))
                                {
                                    <span>@Shop.Mvc.Cache.CacheData.Info.PhoneNumber3.ToPersianNumbers()</span><br />
                                }
                                @if (!string.IsNullOrEmpty(Shop.Mvc.Cache.CacheData.Info.PhoneNumber4))
                                {
                                    <span>@Shop.Mvc.Cache.CacheData.Info.PhoneNumber4.ToPersianNumbers()</span>
                                }
                            </p>
                            <p>
                                آدرس : @Shop.Mvc.Cache.CacheData.Info.Address
                            </p>
                            <a href="@Shop.Mvc.Cache.CacheData.Info.InstagramAccount" target="_blank">
                                <img alt="ایمن فروش (شرکت ارشانوین)" class="footer__info__share" src="~/img/insta.png" />
                            </a>
                            <a href="@Shop.Mvc.Cache.CacheData.Info.TelegramChanal" target="_blank">
                                <img alt="ایمن فروش (شرکت ارشانوین)" class="footer__info__share" src="~/img/telegram.png" />
                            </a>
                            <a href="https://api.whatsapp.com/send?phone=989129633978" target="_blank">
                                <img alt="ایمن فروش (شرکت ارشانوین)" class="footer__info__share" src="~/img/watsapp.png" />
                            </a>
                        </div>
                        <div class="col-md-4 text-left">
                            <h3>ایمن فروش (شرکت ارشانوین)</h3>
                            <p>
                                فروش سیستم های امنیتی و نظارتی : دوربین های مداربسته با سیم و بیسیم , دزدگیر اماکن ,
                                ردیاب های شخصی و خودرو
                            </p>
                            <a referrerpolicy="origin" target="_blank"
                               href="https://trustseal.enamad.ir/?id=202154&amp;Code=jDHuMgNvy10rkBPNTlOo">
                                <img referrerpolicy="origin"
                                     src="https://Trustseal.eNamad.ir/logo.aspx?id=202154&amp;Code=jDHuMgNvy10rkBPNTlOo"
                                     alt="" style="cursor:pointer;border-radius: 10px;background-color: #fff;" id="jDHuMgNvy10rkBPNTlOo">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <div class="footer-bottom">
            <p>
                تمامی حقوق مادی و معنوی این سایت متعلق به شرکت <a target="_blank"
                                                                  href="http://instagram.com/arshanovin021">ارشانوین</a> می باشد
            </p>
            طراحی و توسعه توسط <a target="_blank" href="http://mobinmahdi.ir">مهدی و مبین حسنی</a>
        </div>
    </div>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120605683-14"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-120605683-14');
    </script>

    <script src="~/js/vue.js"></script>
    <script src="~/js/app.js?v=0.0.2"></script>
    <script type="text/x-template" id="item-template">
        <li>
            <div
                    :class="{bold: isFolder}">
                        <span style="cursor: pointer;" v-on:click="toggle" v-if="isFolder">[{{open ? '-' : '+'}}]</span>
                        <a :href="'/Category/Index?CategoryId='+model.id">{{model.title}}</a>
            </div>
            <ul v-show="open" v-if="isFolder">
                <item
                    class="item"
                    v-for="model in model.children"
                    :model="model">
                </item>
            </ul>
        </li>
    </script>
    <script type="text/x-template" id="category-template">
        <li class="col-sm-2">
            <ul>  
                <li class="dropdown-header">
                    <a style="color:#ff3546" :href="'/Category/Index?CategoryId='+model.id">{{model.title}}</a>
                </li> 
                <li v-for="item in model.children">
                    <a :href="'/Category/Index?CategoryId='+item.id">{{item.title}}</a>
                </li>                                                                               
            </ul>
        </li>       
    </script>

    @Html.Partial("_Swal.cshtml")
</body>

</html>
