@using Shop.Utility.Extensions



<!DOCTYPE html>

<html>

<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="description"
          content="ایمن فروش :: فروش سیستم های امنیتی و نظارتی:دوربین های مداربسته با سیم و بیسیم - دزدگیر اماکن - ردیاب های شخصی و خودرو">
    <meta name="keywords" content="دزدگیر خانه , دزدگیر مغازه , دزدگیر اماکن , دوربین مداربسته , دوربین مداربسته بیسیم , دوربین بیبی کم , دوربین لامپی ,
        دوربین پانوراما , دوربین ۳۶۰ , رایاکالا , ردیاب شخصی , ردیاب خودرو , جی پی اس , GPS,
        شنود , دوربین مخفی , سنسور , دی وی آر , DVR,NVR,دوربین تحت شبکه , دیجیکالا">
    <meta name="author" content="ایمن فروش">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="~/img/icon.png">
    <meta property="og:type" content="profile">
    <meta property="og:title" content="ایمن فروش">
    <meta property="og:url" content="https://imenforoush.com/">
    <meta property="og:image" content="~/img/logo.png">

    <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.rtl.css">
    <link rel="stylesheet" href="~/fonts/font-fa.css" />
    <link rel="stylesheet" href="~/css/styles.css?v=0.0.3" />
    <link rel="stylesheet" href="~/css/styleoverride.css?v=0.0.3" />
    <link rel="stylesheet" href="~/css/bootstrap-touch-slider.css" />
    <link rel="stylesheet" href="~/css/animate.css" />
    <link rel="stylesheet" href="~/lib/pe-icon-7-stroke/css/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="~/css/icons.min.css" />
    <link rel="stylesheet" href="~/lib/slick/slick.css" />
    <link href="~/lib/toaster/toastr.min.css" rel="stylesheet" />
    <link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/fancybox/dist/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/lib/laddaButton/ladda-themeless.min.css" />

    <script src="~/lib/jquery-3.1.1/jquery-3.1.1.min.js"></script>
    <script src="~/lib/bootstrap/bootstrap.min.js"></script>
    <script src="~/js/bootstrap-touch-slider-min.js"></script>
    <script src="~/js/jquery.touchSwipe.min.js"></script>
    <script src="~/lib/slick/slick.js"></script>
    <script src="~/lib/toaster/toastr.min.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/js/multi-countdown.js"></script>
    <script src="~/lib/fancybox/dist/jquery.fancybox.min.js"></script>
    <script src="~/lib/laddaButton/spin.min.js"></script>
    <script src="~/lib/laddaButton/ladda.min.js"></script>
    <script src="~/js/isotope.pkgd.min.js"></script>
    <script src="~/js/jquery.matchHeight.js"></script>
    <script src="~/js/script.js"></script>
</head>

<body dir="rtl">
    <div id="app">
        <!-- menu -->
        <div class="loading">
            <div class="lds-roller">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand btn btn-default" href="javascript:void(0)" data-role="category">
                        دسته بندی ها
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="javascript:void(0)" data-role="category">دسته بندی ها </a></li>
                        <li><a asp-action="HelpForBuy">راهنمای خرید </a></li>
                        <li><a asp-action="LawUs">قوانین و مقررات</a></li>
                        <li><a asp-action="AboutUs">درباره ما</a></li>
                        <li><a asp-action="ContactUs">تماس با ما</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                <a href="/user">
                                    <span class="glyphicon glyphicon-user"></span> @User.GetFullName() / پنل کاربری
                                </a>
                            </li>
                            if (User.IsInRole("Admin"))
                            {
                                <li>
                                    <a href="/admin">
                                        <span class="glyphicon glyphicon-cog"></span> پنل ادمین
                                    </a>
                                </li>
                            }
                            <li>
                                <a asp-action="Logout" asp-controller="Account">
                                    <span class="glyphicon glyphicon-log-out"></span> خروج
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a asp-action="Register" asp-controller="Account">
                                    <span class="glyphicon glyphicon-user"></span> ثبت نام
                                </a>
                            </li>
                            <li>
                                <a asp-action="Login" asp-controller="Account">
                                    <span class="glyphicon glyphicon-log-in"></span> ورود
                                </a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>

        <!-- header -->
        <header class="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="row flex-center">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <img alt="ایمن فروش" src="~/img/logo.png" class="img img-responsive" />
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-hide">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="جستجو در محصولات ایمن فروش "
                                           name="search" autocomplete="off">
                                    <div class="input-group-btn">
                                        <button class="btn btn-danger" type="submit">
                                            <i class="glyphicon glyphicon-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                        <a class="btn btn-danger header__btn-cart col-xs-hide">
                            پیشنهادات شگفت انگیز
                            <span class=" badge">100</span>
                        </a>
                        <a href="/Cart" class="btn btn-primary header__btn-cart">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i> سبد خرید
                            <span class="badge">{{countCart}}</span>
                        </a>
                    </div>
                </div>
            </div>
        </header>

        <!-- sidebar -->
        <div id="sidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" data-role="category-close">&times;</a>
            <div class="sidenav__content">
                <p class="sidenav__content__title">فروشگاه اینترنتی ایمن فروش</p>
                <div class="sidenav__content__img">
                    <img alt="ایمن فروش" src="~/img/logo.png" class="img-responsive" />
                </div>
                <a class="btn btn-danger btn-block">
                    پیشنهادات شگفت انگیز
                    <span class=" badge">100</span>
                </a>
                <div class="tree">
                    <ul id="myUL">
                        <li>
                            <span class="parent">دوربین های مدار بسته</span>
                            <ul class="nested">
                                <li>
                                    <span class="parent">لوزام جانبی ذوربین</span>
                                    <ul class="nested">
                                        <li>
                                            <a href="#">هارد و حافظه</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">بسته</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span class="parent">دستگاه های رکورد</span>
                            <ul class="nested">
                                <li><a href="#">کوچگ</a></li>
                                <li><a href="#">بزرگ</a></li>
                            </ul>
                        </li>
                        <li><a href="#">در باز کن</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div>
            @RenderBody()
        </div>

        <div id="map_09kgdf" style='width: 100%; height: 300px;border-top:2px solid #ddd;margin-top:30px'></div>

        <!-- footer -->
        <div class="scroll-top" data-role="scroll-top" style="margin-top:0px">
            <i class="fa fa-angle-double-up"></i> برگشت به بالا
            <i class="fa fa-angle-double-up"></i>
        </div>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer__option">
                        <div class="footer__option__item">
                            <img alt="ایمن فروش" src="~/img/freeDelivery.png" />
                            <div>ارسال رایگان</div>
                        </div>
                        <div class="footer__option__item">
                            <img alt="ایمن فروش" src="~/img/7days.png" />
                            <div>پشتیبانی و مشاوره حرفه ای</div>
                        </div>
                        <div class="footer__option__item">
                            <img alt="ایمن فروش" src="~/img/payment-type.png" />
                            <div>پرداخت در محل</div>
                        </div>
                        <div class="footer__option__item">
                            <img alt="ایمن فروش" src="~/img/money-return.png" />
                            <div>7 روز ضمانت بازگشت</div>
                        </div>
                        <div class="footer__option__item">
                            <img alt="ایمن فروش" src="~/img/original.png" />
                            <div>ضمانت اصل بودن کالا</div>
                        </div>
                    </div>
                    <div class="footer__info">
                        <div class="col-md-4 text-left">
                            <img alt="ایمن فروش" src="~/img/logo.png" />
                            <h3>ایمن فروش</h3>
                            <p>
                                فروش سیستم های امنیتی و نظارتی : دوربین های مداربسته با سیم و بیسیم , دزدگیر اماکن ,
                                ردیاب های شخصی و خودرو
                            </p>
                        </div>
                        <div class="col-md-4">
                            <div class="footer__info__title">
                                لینک های ایمن فروش
                            </div>
                            <a href="#" class="footer__info__link">تماس با ما</a>
                            <a href="#" class="footer__info__link">درباره ما </a>
                            <a href="#" class="footer__info__link">راهنمای خرید</a>
                            <a href="#" class="footer__info__link">قوانین و مقررات</a>
                        </div>
                        <div class="col-md-4 text-left">
                            <div class="footer__info__title">
                                پشتیبانی
                            </div>
                            <p>
                                شماره تماس ها : 09197572162 - 0919744264
                            </p>
                            <p>
                                آدرس : @Shop.Mvc.Cache.CacheData.Info.Address
                            </p>
                            <a href="@Shop.Mvc.Cache.CacheData.Info.InstagramAccount" target="_blank">
                                <img alt="ایمن فروش" class="footer__info__share" src="~/img/insta.png" />
                            </a>
                            <a href="@Shop.Mvc.Cache.CacheData.Info.TelegramChanal" target="_blank">
                                <img alt="ایمن فروش" class="footer__info__share" src="~/img/telegram.png" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <div class="footer-bottom">
            طراحی و توسعه توسط <a target="_blank" href="http://mobinmahdi.ir">مهدی و مبین حسنی</a>
        </div>
    </div>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120605683-14"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-120605683-14');
    </script>

    <link href='https://api.cedarmaps.com/cedarmaps.js/v1.8.0/cedarmaps.css' rel='stylesheet' />
    <script>
        function contactMap() {
            // Map options
            var cm_options = { "center": { "lat": 35.7479198, "lng": 51.5474939 }, "maptype": "light", "scrollWheelZoom": false, "zoomControl": true, "zoom": 15, "minZoom": 6, "maxZoom": 17, "legendControl": false, "attributionControl": false }
            // Initialized CedarMap
            var map = window.L.cedarmaps.map('map_09kgdf', 'https://api.cedarmaps.com/v1/tiles/cedarmaps.streets.json?access_token=98e76563900bde072e3e71b2e62a31bc4334cf66', cm_options);
            // Markers options
            var markers = [{ "popupContent": "ایمن فروش", "center": { "lat": 35.7479198, "lng": 51.5474939 }, "iconOpts": { "iconUrl": "https://api.cedarmaps.com/v1/markers/marker-default.png", "iconRetinaUrl": "https://api.cedarmaps.com/v1/markers/marker-default@2x.png", "iconSize": [82, 98] } }];
            var markersLeaflet = [];
            var _marker = null;

            map.setView(cm_options.center, cm_options.zoom);
            // Add Markers on Map
            if (markers.length === 0) return;
            markers.map(function (marker) {
                var iconOpts = {
                    iconUrl: marker.iconOpts.iconUrl,
                    iconRetinaUrl: marker.iconOpts.iconRetinaUrl,
                    iconSize: marker.iconOpts.iconSize,
                    popupAnchor: [0, -49]
                };

                const markerIcon = {
                    icon: window.L.icon(iconOpts)
                };

                _marker = new window.L.marker(marker.center, markerIcon);
                markersLeaflet.push(_marker);
                if (marker.popupContent) {
                    _marker.bindPopup(marker.popupContent);
                }
                _marker.addTo(map);
            });
            // Bounding Map to Markers
            if (markers.length > 1) {
                var group = new window.L.featureGroup(markersLeaflet);
                map.fitBounds(group.getBounds(), { padding: [30, 30] });
            }
        };

        (function (c, e, d, a) {
            var p = c.createElement(e);
            p.async = 1; p.src = d;
            p.onload = a;
            c.body.appendChild(p);
        })(document, 'script', 'https://api.cedarmaps.com/cedarmaps.js/v1.8.0/cedarmaps.js', contactMap);
    </script>
</body>

</html>


<script src="~/js/vue.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            countCart: 0,
            cart: [],
            price: 0,
            loading: false,
            shippingCost: 0
        },
        methods: {
            addCart: function (productId) {
                var me = this;
                var l = Ladda.create(document.getElementById('addcart' + productId));
                $.ajax({
                    url: '/Cart/Add',
                    method: 'post',
                    data: { ProductId: productId }
                }).then(function (response) {
                    me.countCart = response.data.length;
                    toastr.info(response.message);
                    l.stop();
                }).fail(function (error) {
                    l.stop()
                    if (error.status === 401) {
                        Swal.fire({
                            icon: "error",
                            title: "هشدار",
                            text: 'برای افزودن محصول به سبد خریدتان ابتدا باید عضو سایت باشید',
                            confirmButtonText: 'عضویت در سایت',
                            footer: '<a href="/Account/Login?returnUrl=addToCart=' + productId + '">اگر قبلا عضو سایت شدید از اینجا وارد شوید</a>'
                        }).then(function (result) {
                            if (result.value) {
                                window.location = '/Account/Register?returnUrl=addToCart=' + productId;
                            }
                        })
                    }
                })
            },
            getCart: function () {
                var me = this;
                me.loading = true;
                $.ajax({
                    url: '/Cart/Get',
                    method: 'post',
                }).then(function (response) {
                    me.cart = response;
                    me.countCart = response.length;
                    me.computedPrice();
                    me.loading = false;
                }).fail(function () {
                    me.loading = false;
                })
            },
            seperator: function (price) {
                var pattern = /(-?\d+)(\d{3})/;
                while (pattern.test(price))
                    price = price.toString().replace(pattern, "$1,$2");
                return price;
            },
            computedPrice: function () {
                this.price = 0;
                var me = this;
                me.price = 0;
                me.cart.map(function (item) {
                    me.price += item.price * item.count;
                })
                if (me.price < 700000) {
                    me.shippingCost = 20000;
                    me.price += 20000;
                }
                else {
                    me.shippingCost = 0;
                }
            },
            increase: function (productId) {
                var me = this;
                me.loading = true;
                $.ajax({
                    url: '/Cart/Increase',
                    method: 'post',
                    data: { ProductId: productId }
                }).then(function (response) {
                    me.countCart = response.data.length;
                    me.cart = response.data;
                    toastr.info(response.message);
                    me.computedPrice();
                    me.loading = false;
                });
            },
            reduce: function (productId) {
                var me = this;
                me.loading = true;
                $.ajax({
                    url: '/Cart/Reduce',
                    method: 'post',
                    data: { ProductId: productId }
                }).then(function (response) {
                    me.countCart = response.data.length;
                    me.cart = response.data;
                    toastr.info(response.message);
                    me.computedPrice();
                    me.loading = false;
                });
            },
            deleteCart: function (productId) {
                var me = this;
                if (confirm('آیا مطمئن هستید ؟؟ ')) {
                    me.loading = true;
                    $.ajax({
                        url: '/Cart/Delete',
                        method: 'post',
                        data: { ProductId: productId }
                    }).then(function (response) {
                        me.countCart = response.data.length;
                        me.cart = response.data;
                        toastr.info(response.message);
                        me.computedPrice();
                        me.loading = false;
                    });
                }
            }
        },
        created: function () {
            this.getCart();
        }
    })
</script>

@Html.Partial("_Swal.cshtml")
