@using Shop.Utility.Extensions
<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/png" href="~/img/icon.png">
    

    <link rel="stylesheet" href="~/css/site.min.css" />
    <link rel="stylesheet" href="~/css/styles.css?v=0.0.3" />
    <link rel="stylesheet" href="~/css/styleoverride.css?v=0.0.3" />
    
    <script src="~/js/vue.js"></script>
    <script src="~/js/site.min.js"></script>
</head>

<body dir="rtl">
    @* <div class="loading">
        <div class="lds-roller">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div> *@

    <div class="admin">
        <div class="admin__header">
            <div>
                <a href="#"><i class="fa fa-diamond"></i></a>
                <a href="#">پنل مدیریتی ایمن فروش</a>
            </div>
            <div class="flex-center">
                <div class="dropdown" style="margin-right: 15px;">
                    <span class="dropdown-toggle" data-toggle="dropdown">
                        @User.GetFullName()  خوش آمدید !
                        <span class="caret"></span>
                        <img src="~/img/user.png" class="img-circle" style="width: 40px;" />
                    </span>
                    <ul class="dropdown-menu">
                        <li><a href="/user/EditProfile">ویرایش پروفایل </a></li>
                        <li><a href="/user/ChangePassword">تغییر رمز عبور</a></li>
                        <li><a href="/Account/Logout">خروج</a></li>
                    </ul>
                </div>
            </div>
            <div class="collapse-toggle">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
        <div class="sidebar collapse" id="myNavbar">
            <div class="sidebar__profile">
                <div class="sidebar__profile__img">
                    <img src="~/img/user.png" class="img-circle img-responsive" />
                </div>
                <div class="sidebar__profile__title">
                    @User.GetFullName()
                </div>
            </div>
            <a href="/user/EditProfile"><i class="fa fa-user" aria-hidden="true"></i> ویرایش پروفایل</a>
            <a href="/user/ChangePassword"><i class="fa fa-edit" aria-hidden="true"></i> تغییر رمز عبور</a>
            <a href="/Account/Logout"><i class="fa fa-sign-in" aria-hidden="true"></i> خروج </a>
            <a href="/"><i class="fa fa-home" aria-hidden="true"></i> بازگشت به صفحه اصلی سایت</a>
        </div>
        <div class="content">
            @RenderBody()
        </div>
    </div>
</body>

</html>

@Html.Partial("_Swal.cshtml")
