@{
    ViewData["Title"] = "ناحیه کاربری کاربر - ایمن فروش";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var muOrders = (List<Shop.Mvc.Models.Order.OrderViewModel>)ViewBag.MyOrders;
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">ایمن فروش</a></li>
            <li class="breadcrumb-item active" aria-current="page">ناحیه کاربری کاربر</li>
        </ol>
    </nav>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-xs-12">
            <div class="cart">
                <div class="cart__title" style="margin-bottom:0">ناحیه کاربری</div>
                <a class="cart__link active">سفارش های من</a>
                <a class="cart__link" asp-action="EditProfile">ویرایش پروفایل</a>
                <a class="cart__link" asp-action="ChangePassword">تغییر رمز عبور</a>
                <a href="/Account/Logout" class="cart__link">خروج</a>
            </div>
        </div>
        <div class="col-md-8 col-xs-12">
            <div class="cart">
                <div class="cart__title">لیست سفارش های من</div>
                @foreach (var order in muOrders)
                {
                    <div class="main__box">
                        <div class="main__box__item">
                            <div>
                                <p>شماره سفارش : @order.Id </p>
                                <p>
                                    هزینه ارسال :
                                    @if (order.ShippingPrice == 0)
                                    {
                                        <span style="color:red;">ندارد</span>
                                    }
                                    else
                                    {
                                        <span data-role="seperator">@order.ShippingPrice</span> <span>تومان</span>
                                    }
                                </p>
                                <p>مبلغ کل سفارش : <span data-role="seperator">@order.TotalPrice</span> تومان</p>
                            </div>
                            <div>
                                <p>تاریخ سفارش : @order.Date</p>

                                <p>
                                    وضعیت :
                                    @if (order.IsPaid)
                                    {
                                        <span class="text-success">پرداخت شده </span>
                                    }
                                    else
                                    {
                                        <span class="text-danger">پرداخت نشده </span>
                                    }
                                </p>
                            </div>
                            <div data-toggle="collapse" data-target="#item@(order.Id)"
                                 class="main__box__item__more collapsed" aria-expanded="false">
                                <i data-toggle="tooltip" title="" class="fa fa-angle-double-down"
                                   data-original-title="جزییات بیشتر"></i>
                            </div>
                        </div>
                        <div id="item@(order.Id)" class="collapse" aria-expanded="false" style="height: 0px;">
                            <div class="wrapper__main__box__detail">
                                <div>
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>عکس محصول</th>
                                                    <th>نام محصول</th>
                                                    <th>تعداد محصول</th>
                                                    <th>قیمت محصول</th>
                                                    <th>مجموع</th>
                                                </tr>
                                            </thead>
                                            @foreach (var detail in order.Details)
                                            {
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <img src="~/Files/Images/@(detail.Product.PrimaryImage)"
                                                                 class="img-responsive" style="width:50px;margin:auto" />
                                                        </td>
                                                        <td>@detail.Product.Title</td>
                                                        <td>@detail.Count</td>
                                                        <td data-role="seperator">@detail.Price</td>
                                                        <td data-role="seperator">@(detail.Price * detail.Count)</td>
                                                    </tr>
                                                </tbody>
                                            }
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
