@using Shop.Mvc.Models.Educations
@using Shop.Domain.Enumeration
@using DNTPersianUtils.Core

@model List<EducationFileViewModel>
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    var data = (EducationViewModel)ViewBag.Data;
    ViewData["Title"] = data.Title + "- ایمن فروش";

    var images = Model.Where(c => c.Type == EducationFileType.Image).ToList();
    var audios = Model.Where(c => c.Type == EducationFileType.Audio).ToList();
    var videos = Model.Where(c => c.Type == EducationFileType.Video).ToList();
    var zips = Model.Where(c => c.Type == EducationFileType.Zip).ToList();

}

<div class="container">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">ایمن فروش</a></li>
                <li class="breadcrumb-item active" aria-current="page"> @data.Title</li>
            </ol>
        </nav>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="cart">
            <h1 class="cart__title">@data.Title</h1>
            @if (videos.Count > 0)
            {
                foreach (var item in videos)
                {
                    <div class="text-left">
                        <h2 style="font-size:18px">@item.Title.ToPersianNumbers()</h2>
                        <video style="width:100%;height:300px" controls>
                            <source src="~/Files/EducationFiles/@(item.FileName)" type="video/mp4">
                        </video>
                    </div>
                }
            }
            @if (audios.Count > 0)
            {
                foreach (var item in audios)
                {
                    <div class="text-left">
                        <h2 style="font-size:18px" class="cart__link">@item.Title.ToPersianNumbers()</h2>
                        <audio controls style="width:100%">
                            <source src="~/Files/EducationFiles/@(item.FileName)" type="audio/mpeg">
                        </audio>
                    </div>
                }
            }
            @if (zips.Count > 0)
            {
                foreach (var item in zips)
                {
                    <div class="text-left" style="margin-top:20px">
                        <a style="font-size:18px" asp-action="Download" asp-route-id="@(item.Id)" data-style="zoom-in">
                            <span class="ladda-label">دانلود @item.Title </span>
                        </a>
                    </div>
                }
            }
            <hr />
            <div style="direction: rtl;">
                @Html.Raw(data.Description)
            </div>
        </div>
    </div>
</div>
