@using Shop.Mvc.Models
@using Shop.Mvc.Models.UserManagement
@using Shop.Mvc.Models.Pagination
@using DNTPersianUtils.Core
@using Shop.Utility.Extensions

@model SearchModel<SearchUserViewModel, PaginationViewModel<UserViewModel>>
@{
    ViewData["Title"] = "لیست کاربران - پنل مدیریتی ایمن فروش";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">پنل مدیریتی</a></li>
        <li class="breadcrumb-item active" aria-current="page">مدیریت کاربران</li>       
    </ol>
</nav>

<div class="panel panel-primary">
    <div class="panel-heading">لیست کاربران</div>
    <div class="panel-body">
        <fieldset>
            <legend>جستجوی کاربران</legend>
            <form>
                <div class="row flex-center" style="align-items: flex-end;">
                    <div class="col-md-3 col-xs-12">
                        <div class="control-group">
                            <label>جستجو بر اساس نام و نام خانوادگی </label>
                            <input name="FullName" value="@Model?.Search?.FullName" type="text" class="form-control" placeholder="نام و نام خانوادگی" />
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <div class="control-group">
                            <label>جستجو بر اساس شماره تلفن </label>
                            <input name="PhoneNumber" value="@Model?.Search?.PhoneNumber" type="text" class="form-control" placeholder="شماره تلفن" />
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <label>جستجو بر اساس نقش </label>
                        <div class="control-group">
                            <select name="Type" asp-items="@ViewBag.Type" class="form-control">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <div class="control-group">
                            <button class="ladda-button btn btn-primary btn-block" data-style="zoom-in">
                                <span class="ladda-label">جستجو</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </fieldset>

        <hr />

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>نام و نام خانوادگی</th>
                        <th>شماره همراه</th>
                        <th>دسترسی</th>
                        <th>عملیات</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Data.Count > 0)
                    {
                        foreach (var user in Model.Data.Data)
                        {

                            <tr>
                                <td>@user.FullName?.ToPersianNumbers()</td>
                                <td>@user.PhoneNumber?.ToPersianNumbers()</td>
                                <td>@user.Type.GetDisplayName()</td>
                                <td>
                                    <a href="#" class="btn btn-primary">ویرایش</a>
                                    <a asp-action="Permision" asp-route-userId="@user.Id" class="btn btn-warning">مدیریت دسترسی ها</a>
                                    <a href="#" class="btn btn-danger">حذف کاربر</a>
                                </td>
                            </tr>

                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4">کاربری یافت نشد</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @Html.Partial("~/Views/Shared/_Pagination.cshtml", Model.Data)
    </div>
</div>


